WebServisai/Disc.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DiscRepository">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="DiscList">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Disc">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Title" type="xs:string" />
                    <xs:element name="Time" type="xs:string" />
                    <xs:element name="SongCount" type="xs:unsignedByte" />
                    <xs:element name="Condition" type="xs:unsignedByte" />
                    <xs:element name="Used" type="xs:boolean" />
                    <xs:element name="BandList">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Band">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Name" type="xs:string" />
                                <xs:element name="Members" type="xs:unsignedByte" />
                                <xs:element name="Activity" type="xs:boolean" />
                              </xs:sequence>
                              <xs:attribute name="Id" type="xs:unsignedByte" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="Id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>